<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/18/6f/bd/can-llobet.jpg?w=500&h=300&s=1">
<br>
<a href="/places">View your cities</a>
<br>
<a href='/places/new'>Add a new city</a>